<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Boostrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Django Job Portal</a>
            <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another Action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something Else Here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary me-2">Logout</a>
                
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        {% block content %}
        {% endblock content %}
        <!--<section>
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h2 class="dispaly-5 fw-bold">Django Jobs.Get Hired Quickly</h2>
                    <div class="card">
                        <div class="card-body">
                            <form class="row gy-2 gx-3 align-items-center">
                                <div class="col-sm-2">
                                    <label class="visually-hidden" for="autoSizingInput">Name</label>
                                    <input type="text" class="form-control" id="autoSizingInput" placeholder="job keyword">
                                </div>
                                <div class="col-sm-3">
                                    <label class="visually-hidden" for="autoSizingSelect">Select Location</label>
                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Select Location</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Tree</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="visually-hidden" for="autoSizingSelect">choose job type</label>
                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Choose Job Type</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Tree</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="visually-hidden" for="autoSizingSelect">Select Industry</label>
                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Select Industry</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Tree</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="col-md-8 fs-6 mt-3">
                        Welcome to Django Job Portal! Search and get your dream  job. We have thousand of job offering for you.Don't forget to leave a like when you get a job.Good luck with you job hunt!
                    </p>
                    <button class="btn btn-outline-primary" type="button">More jobs</button>
                </div>
            </div>
        </section>-->

        <!--<div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.This content is a little bit longer</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 min ago</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.This content is a little bit longer</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 min ago</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.This content is a little bit longer</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 min ago</small>
                    </div>
                </div>
            </div >

        </div>-->

        <!--<div class="row align-items-center">
            <div class="col-md-10 mx-auto col-lg-2 mt-4">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>-->

    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-container">
            <span class="text-muted"></span>
        </div>
    </footer>

    <!--Optional Javascript: Choose one of the two-->
    <!--Option 1:Boostrap Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script> 

</body>
</html>